@import "tailwindcss";

* {
    box-sizing: border-box;
    /* margin: 0;
    padding: 0; */
}

/* remove default styles for active/clicked links */
a:active,
a:focus {
    outline: none;
    box-shadow: none;
}

button {
    cursor: pointer;
}
button:disabled {
    cursor: not-allowed;
}

/* body {
    background-image: linear-gradient(to bottom right, rgb(239, 246, 255), rgb(238, 242, 255));
} */
